@page
@model WebApp.Pages.AcceptLang.IndexModel
@using WebApp.Resx
@{
    // var acceptLanguageHeader = Context.Request.Headers["Accept-Language"];
    var acceptLanguageHeader = PageContext.HttpContext.Request.Headers["Accept-Language"];
}

<h1>Accept-Languageの検証(未LOC)</h1>

<h2>以下はLOC済み</h2>

@Html.Raw(All.PAGE_H_ACCEPTLANG)

<h2>Accept-Language Header: @acceptLanguageHeader</h2>

<h2>@Html.DisplayNameFor(m=>m.DeterminedResult)</h2>
<ul>
    @foreach (var item in Model.DeterminedResult)
    {
        <li>@item</li>
    }
</ul>

<h2>Accept-Languageから最適な言語をデフォルト選択した状態</h2>
<form>
    <label asp-for="@Model.SelectedUICultureValue"></label>
    <select asp-for="@Model.SelectedUICultureValue" asp-items="@Model.SupportedUICultureSelectedItems" class="form-select"></select>
</form>

@section Scripts{

    <script>
        $(() => {
            console.log('load');

            const userLanguage = navigator.language || navigator.userLanguage;
            console.log(userLanguage);

            $('#@nameof(Model.SelectedUICultureValue)').on('change', function (e) {
                console.log('変更');
                //console.log(e.target);
                const $elem = $(e.target);
                const culture = $elem.val();
                console.log(culture);

                const cookieValue = `c=${culture}|uic=${culture}`;

                // クッキーのセット（有効期限を指定しないとブラウザを閉じるまで）
                document.cookie = `lang=${cookieValue}; path=/`;
                console.log('langにセット', cookieValue);
            });
        });
    </script>
}
